In [8]:
import pandas as pd
df = pd.read_csv('EmployeeSampleData/Employee Sample Data.csv', encoding='ISO-8859-1')
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,6/10/2019,"$176,710",15%,United States,Miami,NaN
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [9]:
rows,columns = df.shape  #printinf just the rows and columns of the dataset.
columns
rows

1000

In [10]:
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN

In [7]:
df.tail()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,6/10/2019,"$176,710",15%,United States,Miami,NaN
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [8]:
df[2:80]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57,1/24/2017,"$50,994",0%,China,Chongqing,NaN
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27,7/1/2020,"$119,746",10%,United States,Phoenix,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,E01540,Miles Salazar,IT Coordinator,IT,Manufacturing,Male,Latino,36,12/23/2010,"$53,215",0%,Brazil,Sao Paulo,3/27/2014
76,E04474,Mila Hong,Test Engineer,Engineering,Research & Development,Female,Asian,30,5/22/2017,"$86,858",0%,China,Chongqing,10/8/2017
77,E03417,Benjamin Moua,Computer Systems Manager,IT,Manufacturing,Male,Asian,40,7/2/2007,"$93,971",8%,China,Chongqing,NaN
78,E00254,Samuel Morales,Analyst II,Finance,Corporate,Male,Latino,34,6/27/2015,"$57,008",0%,United States,Phoenix,NaN
79,E02166,John Soto,Sr. Manger,Finance,Manufacturing,Male,Latino,60,9/23/2015,"$141,899",15%,United States,Phoenix,NaN

In [9]:
df.columns

Index(['EEID', 'Full Name', 'Job Title', 'Department', 'Business Unit',
       'Gender', 'Ethnicity', 'Age', 'Hire Date', 'Annual Salary', 'Bonus %',
       'Country', 'City', 'Exit Date'],
      dtype='object')

In [10]:
df.EEID

0      E02387
1      E04105
2      E02572
3      E02832
4      E01639
        ...
995    E03094
996    E01909
997    E04398
998    E02521
999    E03545
Name: EEID, Length: 1000, dtype: object

In [13]:
df[['Full Name','Job Title','Exit Date']]

           Full Name                 Job Title   Exit Date
0        Emily Davis                Sr. Manger  10/16/2021
1      Theodore Dinh       Technical Architect         NaN
2       Luna Sanders                  Director         NaN
3    Penelope Jordan  Computer Systems Manager         NaN
4          Austin Vo               Sr. Analyst         NaN
..               ...                       ...         ...
995     Wesley Young               Sr. Analyst         NaN
996     Lillian Khan                   Analyst    1/8/2018
997      Oliver Yang                  Director         NaN
998      Lily Nguyen               Sr. Analyst         NaN
999      Sofia Cheng            Vice President         NaN

[1000 rows x 3 columns]

In [15]:
df['Age'].max()

65

In [16]:
df['Age'].min()

25

In [17]:
df['Age'].min()

25

In [18]:
df.describe

<bound method NDFrame.describe of        EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age   Hire Date Annual Salary  \
0    Research & Development  Female      Black   55    4/8/2016     $141,604
1             Manufacturing    Male      Asian   59  11/29/1997      $99,975
2       Speciality Products  Female  Caucasian   50  10/26/2006     $163,099
3             Manufacturing  Female  Caucasian   26   9/27/2019      $84,913
4             Manufacturing    Male      Asian   55  11/20/1995      $95,409
..                      ...     ...        ...  ...         ...           ...
995     Speciality Products    Male  Caucasian   33   9/18/2016      $98,427
996     Speciality Products  Female      Asian   44   5/31/2010      $47,387
997     Speciality Products    Male      Asian   31   6/10/2019     $176,710
998     Speciality Products  Female      Asian   33   1/28/2012      $95,960
999               Corporate  Female      Asian   63   7/26/2020     $216,195

    Bonus %        Country       City   Exit Date
0      15%   United States    Seattle  10/16/2021
1       0%           China  Chongqing         NaN
2      20%   United States    Chicago         NaN
3       7%   United States    Chicago         NaN
4       0%   United States    Phoenix         NaN
..      ...            ...        ...         ...
995     0%   United States   Columbus         NaN
996     0%           China    Chengdu    1/8/2018
997    15%   United States      Miami         NaN
998     0%           China    Chengdu         NaN
999    31%   United States      Miami         NaN

[1000 rows x 14 columns]>

In [20]:
df[df.Age>=32]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57,1/24/2017,"$50,994",0%,China,Chongqing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,E01148,Scarlett Kumar,Systems Analyst,IT,Corporate,Female,Asian,55,1/7/2009,"$47,032",0%,United States,Columbus,NaN
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [11]:
df[df.Age==df.Age.max()]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
16,E00163,Bella Powell,Director,Finance,Research & Development,Female,Black,65,3/4/2002,"$175,837",20%,United States,Phoenix,NaN
31,E00402,Dominic Guzman,Analyst,Finance,Manufacturing,Male,Latino,65,5/16/2004,"$55,499",0%,Brazil,Manaus,NaN
123,E03061,Vivian Lewis,Manager,Marketing,Manufacturing,Female,Caucasian,65,9/7/2011,"$104,903",10%,United States,Columbus,NaN
257,E00976,Zoe Rodriguez,Director,Human Resources,Speciality Products,Female,Latino,65,5/23/2004,"$153,938",20%,United States,Phoenix,NaN
285,E03300,Maria Chin,Analyst,Marketing,Manufacturing,Female,Asian,65,9/26/2013,"$50,341",0%,China,Beijing,NaN
294,E02838,Julia Pham,Engineering Manager,Engineering,Speciality Products,Female,Asian,65,3/16/2006,"$83,756",14%,China,Shanghai,NaN
371,E00836,Addison Roberts,Network Architect,IT,Manufacturing,Female,Caucasian,65,5/14/2018,"$60,985",0%,United States,Seattle,NaN
452,E02895,Mila Soto,Director,Finance,Research & Development,Female,Latino,65,10/7/2008,"$170,221",15%,Brazil,Manaus,NaN
581,E00555,Christian Ali,Analyst II,Marketing,Research & Development,Male,Asian,65,10/17/2001,"$74,631",0%,China,Chongqing,NaN
629,E04739,Ruby Washington,Analyst,Marketing,Research & Development,Female,Black,65,6/17/2011,"$56,686",0%,United States,Seattle,6/9/2015
635,E02012,Anna Han,System Administrator,IT,Research & Development,Female,Asian,65,5/8/2003,"$96,548",0%,United States,Austin,NaN
667,E01985,Eliana Turner,Account Representative,Sales,Research & Development,Female,Black,65,9/29/2000,"$67,837",0%,United States,Austin,NaN
707,E03262,Logan Mitchell,Analyst II,Marketing,Manufacturing,Male,Caucasian,65,8/20/2005,"$59,833",0%,United States,Columbus,NaN
873,E01108,Hannah Martinez,Manager,Marketing,Manufacturing,Female,Latino,65,9/7/2006,"$127,626",10%,United States,Miami,NaN
928,E01300,Sadie Lee,Sr. Manger,Marketing,Corporate,Female,Asian,65,10/24/2000,"$149,417",13%,China,Chengdu,NaN

In [12]:
df[df.Age>=32]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57,1/24/2017,"$50,994",0%,China,Chongqing,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,E01148,Scarlett Kumar,Systems Analyst,IT,Corporate,Female,Asian,55,1/7/2009,"$47,032",0%,United States,Columbus,NaN
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [13]:
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,6/10/2019,"$176,710",15%,United States,Miami,NaN
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [16]:
df[['Job Title','Gender']][df.Age == df['Age'].max()]

                  Job Title  Gender
16                 Director  Female
31                  Analyst    Male
123                 Manager  Female
257                Director  Female
285                 Analyst  Female
294     Engineering Manager  Female
371       Network Architect  Female
452                Director  Female
581              Analyst II    Male
629                 Analyst  Female
635   System AdministratorÂ   Female
667  Account Representative  Female
707              Analyst II    Male
873                 Manager  Female
928              Sr. Manger  Female

In [17]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [19]:
df.set_index('Department')

,EEID,Full Name,Job Title,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
Department,,,,,,,,,,,,,
IT,E02387,Emily Davis,Sr. Manger,Research & Development,Female,Black,55,4/8/2016,"$141,604",15%,United States,Seattle,10/16/2021
IT,E04105,Theodore Dinh,Technical Architect,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0%,China,Chongqing,NaN
Finance,E02572,Luna Sanders,Director,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",20%,United States,Chicago,NaN
IT,E02832,Penelope Jordan,Computer Systems Manager,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",7%,United States,Chicago,NaN
Finance,E01639,Austin Vo,Sr. Analyst,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0%,United States,Phoenix,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marketing,E03094,Wesley Young,Sr. Analyst,Speciality Products,Male,Caucasian,33,9/18/2016,"$98,427",0%,United States,Columbus,NaN
Finance,E01909,Lillian Khan,Analyst,Speciality Products,Female,Asian,44,5/31/2010,"$47,387",0%,China,Chengdu,1/8/2018
Marketing,E04398,Oliver Yang,Director,Speciality Products,Male,Asian,31,6/10/2019,"$176,710",15%,United States,Miami,NaN
Finance,E02521,Lily Nguyen,Sr. Analyst,Speciality Products,Female,Asian,33,1/28/2012,"$95,960",0%,China,Chengdu,NaN
Accounting,E03545,Sofia Cheng,Vice President,Corporate,Female,Asian,63,7/26/2020,"$216,195",31%,United States,Miami,NaN

In [24]:
df1 = pd.read_excel('EmployeeSampleData/Employee Sample Data.xlsx')   #another way of reading the data into the notebook.
df1                      # another method is to do by creating a data frame.

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT